@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    cursor: pointer;
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    cursor: pointer;
    background: #bfbcbc;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}